{% include 'header.twig' %}
<main>
        <div class="smmspot-head">
            <div class="smmspot-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-8 col-12">
                            <div class="smmspot-big">
                                <h1><span class="smmspot-big-sp">{{ lang['smmspot.login.title'] }}</h1>
                            </div>
                            <div class="smmspot-small mt-5 mb-3">
                                {{ lang['smmspot.login.text'] }}
                            </div>
                            <div class="smmspot-btns mt-5">
                                <div class="row align-items-center">
                                    <div class="col-md-auto col-12 mb-4 mb-lg-0">
										<div class="d-flex align-items-center">
											<img src="/assets/smmspot/assets/images/home/crown.svg">
											<h3>{{totals['usersAll']}}{{ lang['smmspot.login.happy.customer'] }}</h3>
										</div>
                                    </div>
                                    <div class="col-md-auto col-12 ps-5 mb-4 mb-lg-0">
										<div class="reg-btn">
											<a href="/signup" class="btn btn-primary btn-border">
												<div class="mb-text"><span>{{ lang['signup.title'] }}</span> <i class="far fa-user-crown ps-3"></i></div>
											</a>
										</div>
                                    </div>
                                </div>
                            </div>
							<div class="ph-last mt-5">
								<div class="d-flex align-items-center">
									<i class="fal fa-star-christmas"></i>
									<a href="/">{{ lang['smmspot.login.button1'] }} <i class="fal fa-long-arrow-right ps-4"></i></a>
								</div>
							</div>
                        </div>
						<div class="col-lg-6 col-md-8 col-12 d-none d-md-block">
							<div class="main-img">
								<div class="main-shape">
									<img src="/assets/smmspot/assets/images/home/1.svg" class="msh-1 floating" />
									
								</div>
								<img src="/assets/smmspot/assets/images/home/main-img.png" class="img-fluid" />
							</div>
						</div>					
                    </div>
                </div>
            </div>
        </div><!-- smmspot-top -->


        <section class="smmspot-section">
            <div class="container">
                <div class="row smmspot-row">
                    <div class="col-6 col-md-auto">
                        <img src="/assets/smmspot/assets/images/social/ytb.svg" class="smmspot-logos" alt="Youtube">
                    </div>
                    <div class="col-6 col-md-auto">
                        <img src="/assets/smmspot/assets/images/social/ch.svg" class="smmspot-logos" alt="Clubhouse">
                    </div>
                    <div class="col-6 col-md-auto">
                        <img src="/assets/smmspot/assets/images/social/sp.svg" class="smmspot-logos" alt="Spotify">
                    </div>
                    <div class="col-6 col-md-auto">
                        <img src="/assets/smmspot/assets/images/social/ig.svg" class="smmspot-logos" alt="Instagram">
                    </div>
                    <div class="col-6 col-md-auto">
                        <img src="/assets/smmspot/assets/images/social/tw.svg" class="smmspot-logos" alt="Twitter">
                    </div>
                </div>
            </div>
        </section><!-- ./smmspot-seciton -->
		
		
        <section class="smmspot-section">
            <div class="container">
                <div class="row smmspot-row">
                    <div class="col-12">
						<div class="smmspot-title text-center">
							<h2 class="smmspot-title-text">{{ lang['smmspot.login.box.title1'] }} </h2>
							<div class="smmspot-title-line"></div>
						</div>
						
						<div class="smmspot-boxes">
							<div class="row">
							
								<div class="col-lg-3 col-12 mb-3">
									<div class="smmspot-box">
										<div class="d-flex align-items-center justify-content-between">
											<div class="smmspot-icon">
												<i class="fal fa-headset"></i>
											</div>
											<div class="smmspot-icon2"></div>	
										</div>
										<h1>{{ lang['smmspot.login.box.text1'] }}</h1>
									</div>
								</div>
								
								<div class="col-lg-3 col-12 mb-3">
									<div class="smmspot-box">
										<div class="d-flex align-items-center justify-content-between">
											<div class="smmspot-icon">
												<i class="fal fa-bolt"></i>
											</div>
											<div class="smmspot-icon2"></div>	
										</div>
										<h1>{{ lang['smmspot.login.box.text2'] }}</h1>
									</div>
								</div>
								
								<div class="col-lg-3 col-12 mb-3">
									<div class="smmspot-box">
										<div class="d-flex align-items-center justify-content-between">
											<div class="smmspot-icon">
												<i class="fal fa-usd-circle"></i>
											</div>
											<div class="smmspot-icon2"></div>	
										</div>
										<h1>{{ lang['smmspot.login.box.text3'] }}</h1>
									</div>
								</div>
								
								<div class="col-lg-3 col-12 mb-3">
									<div class="smmspot-box">
										<div class="d-flex align-items-center justify-content-between">
											<div class="smmspot-icon">
												<i class="fal fa-credit-card"></i>
											</div>
											<div class="smmspot-icon2"></div>	
										</div>
										<h1>{{ lang['smmspot.login.box.text4'] }}</h1>
									</div>
								</div>
							
							</div>
						</div>
						
                    </div>
                </div>
            </div>
        </section><!-- ./smmspot-seciton -->



        <section class="smmspot-section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <img src="/assets/smmspot/assets/images/home/m-cards.png" class="img-fluid">
                    </div>
                    <div class="col-lg-5">
                        <h2 class="smmspot-hp-title mb-5">
                            {{ lang['smmspot.login.information.title1'] }}
                        </h2>
                        <div class="smmspot-hp-line"></div>
                        <p class="smmspot-hp-text">
                            {{ lang['smmspot.login.information.description1'] }} 
                        </p>
                        <div class="btns-container mt-5">
                            <div class="row">
                                <div class="col-md-auto col-12 mb-4 mb-lg-0">
                                    <a href="/services" class="btn btn-block pl-0">
                                        {{ lang['smmspot.login.information.button1'] }}
                                    </a>
                                </div>			
                                <div class="col-md-auto col-12">
                                    <a href="/signup" class="btn btn-primary btn-border btn-block">
                                        {{ lang['signup.title'] }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- ./smmspot-section -->
		
        <section class="smmspot-section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <h2 class="smmspot-hp-title mb-5">
                            {{ lang['smmspot.login.information.title2'] }} 
                        </h2>
                        <div class="smmspot-hp-line"></div>
                        <p class="smmspot-hp-text">
                            {{ lang['smmspot.login.information.description2'] }}
                        </p>
                        <div class="btns-container mt-5">
                            <div class="row">
                                <div class="col-md-auto col-12 mb-4 mb-lg-0">
                                    <a href="/services" class="btn btn-block pl-0">
                                       {{ lang['smmspot.login.information.button2'] }}
                                    </a>
                                </div>			
                                <div class="col-md-auto col-12">
                                    <a href="/signup" class="btn btn-primary btn-border btn-block">
                                        {{ lang['signup.title'] }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 offset-lg-1 d-none d-md-block">
                        <img src="/assets/smmspot/assets/images/home/m-cards-2.png" class="img-fluid">
                    </div>
                </div>
            </div>
        </section><!-- ./smmspot-section -->



        <section class="smmspot-section">
            <div class="container">
                <div class="smmspot-bbox mt-5">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hpbb-body">
                                <h2 class="smmspot-hp-title">{{ lang['smmspot.login.information.title3'] }}  </h2>
                                <p class="hpbb-text">{{ lang['smmspot.login.information.description3'] }}</p>
                                <div class="btns-container mt-5">
                                    <div class="row">
                                        <div class="col-md-auto col-12 mb-4 mb-lg-0">
                                            <a href="/services" class="btn btn-primary btn-border btn-block">
                                                {{ lang['smmspot.login.information.button3'] }}
                                            </a>
                                        </div>
                                        <div class="col-md-auto col-12">
                                            <a href="/signup" class="btn btn-block">
                                                {{ lang['signup.title'] }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hpbb-right">
                        <img src="/assets/smmspot/assets/images/home/m-phone.png" alt="">
                    </div>
                </div>
            </div>
        </section><!-- ./smmspot-section -->

    </main>






{% for lang in site['languages'] %}
{% if lang['active'] %}
<script src="https://www.google.com/recaptcha/api.js?hl={{ lang['code'] }}"></script>
{% endif %}
{% endfor %}
{% include 'footer.twig' %}