{% include 'header.twig' %}
{% if resetStep == 1 %}
<style>header, footer {display:none}</style>

<main>

<div class="register-page">
        <div class="container">
            <div class="register-box">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="register-left">
                            <div class="p-5">
                                <div style="flex: 1;">
									<div class="p-1">
										<img src="https://cdn.smmspot.net/sites/smmspot/assets/images/login-card.png" class="img-fluid">
										<div class="p-4 text-center">
											<h1>{{ lang['smmspot.resetpassword.title1'] }}</h1>
											<p>{{ lang['smmspot.resetpassword.text1'] }} </p>
										</div>
									</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5 register-form">
							<div class="hlb-header mb-5">
								<div class="row text-center">
									<div class="col-auto mx-auto login-logo d-flex align-items-center">
							<a class="sidebar-logo-cont" href="/">
                              {% if site['logo'] %}
                                <img src="{{ site['logo'] }}" class="sidebar-big-logo" alt="{{ site['site_name'] }}" title="{{ site['site_name'] }}">
                              {% else %}
                                {{ site['site_name'] }}
                              {% endif %}
                            </a>
									</div>
								</div>
							</div>
							<form method="post" action="">
							  <h3>{{  lang['resetpassword.title'] }}</h3>

							  {% if errorText %}
								<div class="alert alert-dismissible alert-danger">
								  {{ errorText }}
								</div>
							  {% endif %}
							  {% if successText %}
								<div class="alert alert-dismissible alert-success">
									{{ successText }}
								</div>
							  {% endif %}

								<div class="form-group">
									<div class="fga mb-4">
								<label>{{ lang['resetpassword.user'] }}</label>
										<div class="fg">
											<div class="fg-icon">
												<i class="fal fa-envelope-open"></i>
											</div>
											<input type="text" class="fg-control" id="user" placeholder="{{ lang['resetpassword.user'] }}" value="{{ data['user'] }}" name="user">
										</div>
									</div>
								</div>  

								<div class="form-group">
									<div class="fga mb-4">
									<label>{{ lang['resetpassword.type'] }}</label>
										<div class="fg">
											<div class="fg-icon">
												<i class="fal fa-envelope-open"></i>
											</div>
											
											<select class="form-control fg-control" name="type">
											{% for reset in resetType %}
											<option value="{{ reset['type'] }}">{{ reset['name'] }}</option>
											{% endfor %}
											</select>
										</div>
									</div>
								</div>  
								
								{% if captcha %}
									<div class="g-recaptcha" data-sitekey="{{ captchaKey }}"></div>
								{% endif %}     
													
                                <button class="btn btn-primary btn-block mt-4">{{ lang['resetpassword.button'] }}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
{% else %}
<style>header, footer {display:none}</style>

<main>

<div class="register-page">
        <div class="container">
            <div class="register-box">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="register-left">
                            <div class="p-5">
                                <div style="flex: 1;">
									<div class="p-1">
										<img src="https://cdn.smmspot.net/sites/smmspot/assets/images/login-card.png" class="img-fluid">
										<div class="p-4 text-center">
											<h1>{{ lang['smmspot.resetpassword.title2'] }}</h1>
											<p>{{ lang['smmspot.resetpassword.text2'] }}</p>
										</div>
									</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5 register-form">
							<div class="hlb-header mb-5">
								<div class="row text-center">
									<div class="col-auto mx-auto login-logo d-flex align-items-center">
							<a class="sidebar-logo-cont" href="/">
                              {% if site['logo'] %}
                                <img src="{{ site['logo'] }}" class="sidebar-big-logo" alt="{{ site['site_name'] }}" title="{{ site['site_name'] }}">
                              {% else %}
                                {{ site['site_name'] }}
                              {% endif %}
                            </a>
									</div>
								</div>
							</div>
							<form method="post" action="">
							  <h3>{{  lang['resetpassword.title'] }}</h3>

							  {% if errorText %}
								<div class="alert alert-dismissible alert-danger">
								  {{ errorText }}
								</div>
							  {% endif %}
							  {% if successText %}
								<div class="alert alert-dismissible alert-success">
									{{ successText }}
								</div>
							  {% endif %}

								<!--<div class="form-group">
									<div class="fga mb-4">
										<label>{{ lang['resetpassword.user'] }}</label>
										<div class="fg">
											<div class="fg-icon">
												<i class="fal fa-envelope-open"></i>
											</div>
											<input type="text" class="fg-control" id="user" placeholder="{{ lang['resetpassword.user'] }}" value="{{ data['user'] }}" name="user">
										</div>
									</div>
								</div>-->  

								<div class="form-group">
									<div class="fga mb-4">
										<label>{{ lang['account.password.new'] }}</label>
										<div class="fg">
											<div class="fg-icon">
												<i class="fal fa-envelope-open"></i>
											</div>
											<input type="text" class="fg-control" id="password" placeholder="{{ lang['account.password.new'] }}" name="password">
										</div>
									</div>
								</div>  

								<div class="form-group">
									<div class="fga mb-4">
										<label>{{ lang['account.password.confirm'] }}</label>
										<div class="fg">
											<div class="fg-icon">
												<i class="fal fa-envelope-open"></i>
											</div>
											<input type="text" class="fg-control" id="confirm_password" placeholder="{{ lang['account.password.confirm'] }}" name="confirm_password">
										</div>
									</div>
								</div>  
								
								{% if captcha %}
									<div class="g-recaptcha" data-sitekey="{{ captchaKey }}"></div>
								{% endif %}     
													
                                <button class="btn btn-primary btn-block mt-4">{{ lang['resetpassword.button'] }}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
{% endif %}
{% for lang in site['languages'] %}
{% if lang['active'] %}
<script src="https://www.google.com/recaptcha/api.js?hl={{ lang['code'] }}"></script>
{% endif %}
{% endfor %}
{% include 'footer.twig' %}